{{#each articles}}
    <div class="row">
        <div class="col-lg-12" align="center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <a class="article-link" target="_blank" href={{ this.link}}>{{this.title}}</a>
                        <a class="btn btn-success save">Save Article</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
{{/each}}